<div>
  <div>
<!-- Navbar goes here -->
<nav>
  <div class="nav-wrapper">

    <div class="container">
      <button type="button" id="sidebarCollapse" class="btn btn-info">
          <i class="fas fa-align-left"></i>
          <span>Admin</span>
      </button>

      <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-align-justify"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

      </div>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#" (click)="onNav('6')">Sign In</a></li>
        <li><a href="#" (click)="onNav('7')">Sign Up</a></li>
        <li><a href="#" (click)="onNav('8')">Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>
</div>


    <!-- Page Layout here -->

    <div class="container">
      <div class="row">
        <div id="comp-render" [ngSwitch]="display">
          <span *ngSwitchCase=1><app-product [item]='1' *ngIf="check"></app-product></span>
          <span *ngSwitchCase=2><app-product [item]='2'></app-product></span>
          <span *ngSwitchCase=3><app-product [item]='3'></app-product></span>
          <span *ngSwitchCase=6><app-login></app-login></span>
          <span *ngSwitchCase=7><app-users></app-users></span>
          <span *ngSwitchCase=8></span>
        </div>
      </div>
      <div *ngIf="signIn">
      <form #imageForm=ngForm *ngIf="y">
        <div class="input-field col s12">
          <input type="text" placeholder="" [(ngModel)]='PName' name="PName" id="PName" required>
          <label for="PName">PName</label>
        </div>
        <button type="submit" (click)="getProductByName(PName)" class="btn-large btn-submit">Search</button>
      </form>

      <div class="row" *ngIf="check">
          <div class="col-md" *ngFor="let product of p">
          <!-- Note that "m8 l9" was added -->
          <div class="card" style="width: 18rem;">

            <img [src]="'data:image/jpeg;base64,'+product.ImageCode"  class="img-fluid card-img-top">

            <div class="card-body">
              <h5 class="card-title">{{product.PName}}
                </h5>
              <p class="card-text">₹{{product.Price}}</p>
              <p class="card-text">Discount: {{product.Discount}}%</p>
              <a href="#" class="btn btn-primary">AddToCart</a>
              <a href="#" class="btn btn-primary">BuyProduct</a>
            </div>
          </div>

       </div>
      </div>
      </div>


    </div>




  </div>
  <div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div id="dismiss">
            <i class="fas fa-arrow-left"></i>
        </div>
        <div class="sidebar-header">
            <h3>Mobiles</h3>
        </div>
        <ul class="list-unstyled components">

            <li>
                    <a href="#" (click)="onPress(2)">Search/Update/Delete Products</a>
                    <a href="#" (click)="onPress(3)">Add Products</a>
            </li>
        </ul>

    </nav>
    <!-- Page Content  -->

  </div>
  <div class="overlay"></div>
