<div>
  <div class="row">
    <div class="col s8 offset-2">
      <div class="card-panel teal lighten-2">
        <h4 class="center white-text">Product Detais</h4>
      </div>
      <form #imageForm=ngForm (ngSubmit)="OnSubmit(PID,PName,ImageName,Image,Price,Discount,Quantity,IsStock)" *ngIf="check">
        <div class="row">
          <div class="input-field col s12">
            <input type="text" placeholder="" [(ngModel)]='PName' name="PName" id="PName" required>
            <label for="PName">ProductName</label>
          </div>
          <div class="input-field col s12">
            <input type="text" placeholder="" [(ngModel)]='ImageName' name="ImageName" id="ImageName" required>
            <label for="ImageName">ImageName</label>
          </div>

          <div class="input-field col s12">
            <input type="text" placeholder="" [(ngModel)]='Price' name="Price" id="Price" required>
            <label for="Price">Price</label>
          </div>
          <div class="input-field col s12">
            <input type="text" placeholder="" [(ngModel)]='Discount' name="Discount" id="Discount" required>
            <label for="Discount">Discount</label>
          </div>
          <div class="input-field col s12">
            <input type="text" placeholder="" [(ngModel)]='Quantity' name="Quantity" id="Quantity" required>
            <label for="Quantity">Quantity</label>
          </div>
          <div class="input-field col s12">
            <label>
              <input [(ngModel)]='IsStock' type="checkbox" class="blue-grey lighten-5" name="IsStock" id="IsStock" required/>
              <span>IsStock</span>
            </label>
          </div>
        </div>

        <img [src]="imageUrl"  style="width:250px;height:200px">

        <input type="file" [(ngModel)]='ImageName' #Image accept="image/*" (change)="handleFileInput($event.target.files)">
        <button type="submit" class="btn-large btn-submit" *ngIf="!y" [disabled]="Image.value=='' || !imageForm.valid">Submit</button>
        <button type="submit" class="btn-large btn-submit" (click)="UpdateProduct(PID, PName,ImageName,Image,Price,Discount,Quantity,IsStock)" [disabled]="Image.value=='' || !imageForm.valid" *ngIf="y">Update</button>
        <br/>
        <button type="submit" class="btn-large btn-submit" (click)="DeleteProduct(PID)" *ngIf="y">Delete</button>
      </form>

      <form #imageForm=ngForm *ngIf="x">
        <div class="input-field col s12">
          <input type="text" placeholder="" [(ngModel)]='PID' name="PID" id="PID" required>
          <label for="PID">PID</label>
        </div>
        <button type="submit" (click)="getProduct(PID)" class="btn-large btn-submit">Search</button>
      </form>
    </div>
  </div>




</div>

